<!DOCTYPE html>
<html>
  <head>
    <title>No.1 Yasuo Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Fonts in Use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  </head>

  <!-- Navigation -->
  <nav class="collapse navbar-collapse" id="bs-navbar">
    <a class="navbar-brand" href="/">Yasuo Guide</a>
    <ul class="nav navbar-nav">
      <li><a href="/gameplay/job_in_teamfights">Job in Teamfights</a></li>
      <li><a href="/gameplay/mechanics">Mechanics</a></li>
      <li><a href="/gameplay/tricks">Tricks</a></li>
      <li><a href="/gameplay/matchups">
        Counter Picks</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a target="_blank" href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/yasuo/#champion-lore">Learn More</a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCO4NTLDIYKEV_sEwjZq7ghw">Yassuo</a></li>
      <li><a target="_blank" href="https://www.youtube.com/user/ArKaDaTaEditing)">Arkadata</a></li>
      <li><a target="_blank" href="http://lol.gamepedia.com/Yasuo_-_The_Unforgiven#Patch_History)">Nerfs</a></li>
    </ul>
  </nav>

  <body style="font-family:'Slabo 27px', serif;">
    <div class="container" style="background-color: rgba(135,100,100, 0.3);">
      <div style="background-color:rgba(255, 255, 255, 0.2);border-radius:10px;padding:50px;">


<div style=font-size:48px> TL,DR; MIXING THE AUTOS BETWEEN Q'S AND E'S IS THE KEY TO GETTING THE MAXIMUM DAMAGE OUT</div><br><br>
<p>
There are more than a hundred champions out there which you can play them over and over again (usually over 300 games)
and you will for sure have a positive win rate with him/her. However there are also champions who you can learn WRONG and your win rate
WON'T be fixed just by playing a lot. These champions, in my opinion, are champs like Yasuo, Fiora, Lee sin, Teemo, perhaps Riven, Etc.

<br>
<div style=font-size:25px;color:darkgreen> The reason why there are so many Yasuo players who have gone through 500, maybe even 800 games
with a negative win rate is because they don't know what they're habitually doing wrong on the champion.
<br> A big mistake a Yasuo player can make is not abusing the small tricks and gaps that will make you do more damage at the end. </div>

<ul> <div style=font-size:20px;color:sienna;background-color:goldenrod>
  <li >Autoing before E
    <br> The most important thing to keep in mind to master this trick is knowing your autoattack timer.
    <br> If you have ever played Riven, you will know how significant it is knowing the autoattack timer, mostly because of her Q auto cancels and other combos using Hydra and her stun.
    <br> Yasuo is a bit like mastering Riven; however, most Yasuo players build attack speed in their builds, so each level and each time you come back to lane with your items you HAVE to know your autoattack timer,
    in order to make a fluid auto-e auto-e animations.
    <br>*Yasuo is not a AD melee Spellcaster(no QQQing!!)!! his AUTOs are what's important. MIX THEM BETWEEN THE E'S*

    <li>Here's a general idea how you should start Level 1.
      <br> vs. AD ranged matchups (e.g. Lucian, Corki, Jayce) Start Q. Starting E will be very aggressive and you will get shit on in trades unless he fucks up the auto attacks real bad.
      <br> vs. AD melee matchups/ AP melee matchups (Kassadin, Talon) Start Q. However, it is not IDEAL for you to just Q and Q over and over, what you wanna do is AUTO-Q. This gives you higher chance of landing Q, and
      a bit empowered Q with the 2 Stacks of Fervor from your first auto.
      <br> vs. AP ranged matchups (e.g. Vel'Koz, Anivia, Ahri) You guessed it. This is the only time you should start E against. <br>However, starting E means that you are going aggressive from Level 1.
      <br> This gives you tons of opportunities to free auto on the opponent, but also meaning you will take a shit ton of minion aggro.
      On top of that, you would have 1 potion and they will most likely have 2 potions (with a Doran's Ring.)
      <br> Solution to this is DON'T save your potion. Starting E is like committing to kill the enemy at Level 2-3. At half-hp Level 1 trade, pop the potion. This will for sure make the opponent feel outtraded and scared.
<li> Wall jumps are very useful in escaping. Only using the Practice Tool session makes you a better wall jumper.
  <br> My recommendation of practice terrains are at the chicken camps(Wraiths) and at the Golems.
  <li> Yasuo's Q hold duration recently got nerfed from 10 seconds to 6 seconds. (as of today 7.16 patch). <br>While playing mid lane, when you have 0 or 1 stack of Steel Tempest
    and you don't wanna Q the minions because it will push the lane, OBTAIN A TORNADO from the Chicken camps. <br>This tip really helped me a lot after the Yasuo nerf pressuring the opponent mid laner.
<br><img style="width:300px"; src="http://team-dignitas.net/uploads/tinymce/images/windwallyasuo.jpg"
<br>
<li>
  if you are being chased and you are about to block a skillshot from the back, you don't have to Windwall Backwards and keep e'ing to the opposite side because this can possibly
  lead to a proper windwall placement FAIL.<br> What you can also do is W-E really quick cursor placed on a minion, leaving the windwall
  behind the minion you dashed through, making you block the projectile from the back.

</div>
</p>

  <style>


    p {
     font-family:Georgia;
     font-size:20px;
     color:indigo}

    nav {
      background-color: rgba(0, 0, 0, 0.5);
    }
    nav a {
      color: white;
      font-family: 'Quicksand';
    }
    body {
      background: url(http://2.bp.blogspot.com/-CZ-VyW5qF2g/UzvKLp3fUlI/AAAAAAAANag/wOspbxq7yIo/s1600/Yasuo-League-of-Legends-Wallpaper-full-HD-11.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }
    nav a:hover {
      color: black;
      background-color: #eee;
    }
  </style>

  <body style="font-family:'Slabo 27px', serif;">
    <div class="container" style="background-color: rgba(135,100,100, 0.3);">
    </div>
  </body>
</html>
